{% extends "mainapp/base.html" %}
    {% block content %}
        <section class="container mt-3 mb-2" style="max-width: 1000px;">
            <section class="row">
                <a class="btn btn-primary col-xs-6 mybtn" href="{% url 'main:product_create' %}" role="button">Добавить документ</a>
            </section>
        </section>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Номер</th>
                    <th scope="col">Поставщик</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.number }}</td>
                        <td>{{ object.providerid.name }}</td>
                        <td>
                            <a title="редактировать товар" class="text-muted" style="margin-left: 5px;" href="{#% url 'main:product_update' pk=object.pk %#}"><i class="fas fa-pen bd-highlight"></i></a>
                            <!--<a title="удалить склад" class="text-muted" style="margin-left: 5px;" href="{#% url 'mainapp:works_delete' pk=object.pk %#}"><i class="fas fa-trash-alt"></i></a>-->
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock content %}