{% extends "mainapp/base.html" %}
    {% block content %}
        <form method="post" class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            {% csrf_token %}
            <section class="form-group">
                {{ form.as_p }}
            </section>
            <p><input type="submit" class="btn btn-primary float-left mybtn" value="Сохранить"></p>
        </form>
        <a class="btn btn-success ml-2" href="{% url 'main:products' %}" role="button">Отменить</a>
    {% endblock content %}